
img{
    width: 200px;
}

html{
    background: url(https://media.giphy.com/media/IHXBDXnTxz9PG/giphy.gif);
}

body {
    font-family: "Arial";
    color: purple;
    text-align: center
}

body1 {
    text-align: center;
}